*{
    padding: 10;
    margin:10;
}

body{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color:burlywood;
}
button{
    color: blueviolet;
    background-color: yellow;
}

button:hover{
    color: rgb(2, 2, 2);
    background-color: aqua;
}